<!doctype html>
<html>
	<head>
		<script src=/htmc.poly.js></script>
		<script src=/router.js></script>
		<script src=/components/home.js></script>
		<script src=/components/layout.js></script>
		<script src=/components/testpage.js></script>
	</head>
	<body>
		<div id=app></div>
		<script>
			routes = {
				'/404': _=>'404',
				'/testspage': tests,
				'/': home,
			};

			app = document.getElementById('app');
			app.append(htmc(layout()));
			page(location.pathname);
		</script>
	</body>
</html>
